aim==3.14.1
cudatoolkit==11.6.0
mmcv-full==1.6.2
mmdet==2.25.2
matplotlib==3.6.1
numpy==1.23.3
opencv_python==4.6.0.66
pandas==1.5.1
python==3.9.13
pytorch==1.12.1
pyzed==3.7
torchvision==0.13.1
scipy==1.9.3
tqdm==4.61.1
Pillow==9.2.0
h5py==3.7.0



